--
-- PostgreSQL database dump
--

\restrict CrrBGzBU3EWJc4alOhMh08QR04stVFItfNX7suxFRGdaFHEMoc8HGEwjvdaLSvO

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.accounts (
    name jsonb NOT NULL,
    "accountNumber" text NOT NULL,
    "accountSubType" text,
    "accountType" text NOT NULL,
    "branchId" integer,
    id integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "parentAccountId" integer
);


ALTER TABLE public.accounts OWNER TO erp_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_id_seq OWNER TO erp_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: branches; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.branches (
    name text NOT NULL,
    location text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.branches OWNER TO erp_user;

--
-- Name: branches_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.branches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.branches_id_seq OWNER TO erp_user;

--
-- Name: branches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.branches_id_seq OWNED BY public.branches.id;


--
-- Name: cost_centers; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.cost_centers (
    name text NOT NULL,
    "branchId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.cost_centers OWNER TO erp_user;

--
-- Name: cost_centers_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.cost_centers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cost_centers_id_seq OWNER TO erp_user;

--
-- Name: cost_centers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.cost_centers_id_seq OWNED BY public.cost_centers.id;


--
-- Name: general_ledger_transactions; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.general_ledger_transactions (
    description text NOT NULL,
    debit numeric(65,30) DEFAULT 0.00 NOT NULL,
    credit numeric(65,30) DEFAULT 0.00 NOT NULL,
    "accountId" integer NOT NULL,
    "branchId" integer,
    "costCenterId" integer,
    "customerId" integer,
    "entryDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id bigint NOT NULL,
    "sourceModule" text,
    "sourceRecordId" integer,
    "userId" integer,
    "vehicleId" integer
);


ALTER TABLE public.general_ledger_transactions OWNER TO erp_user;

--
-- Name: general_ledger_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.general_ledger_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.general_ledger_transactions_id_seq OWNER TO erp_user;

--
-- Name: general_ledger_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.general_ledger_transactions_id_seq OWNED BY public.general_ledger_transactions.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.permissions (
    name text NOT NULL,
    description text,
    module text NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.permissions OWNER TO erp_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO erp_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.role_permissions (
    "permissionId" integer NOT NULL,
    "roleId" integer NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO erp_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.roles (
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL,
    "isSystemRole" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.roles OWNER TO erp_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO erp_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: user_permission_overrides; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.user_permission_overrides (
    "hasPermission" boolean NOT NULL,
    "permissionId" integer NOT NULL,
    "userId" integer NOT NULL
);


ALTER TABLE public.user_permission_overrides OWNER TO erp_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.users (
    username text NOT NULL,
    "branchId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "fullName" text NOT NULL,
    id integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "passwordHash" text NOT NULL,
    "preferredLanguage" text DEFAULT 'ar'::text NOT NULL,
    "roleId" integer
);


ALTER TABLE public.users OWNER TO erp_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO erp_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: branches id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.branches ALTER COLUMN id SET DEFAULT nextval('public.branches_id_seq'::regclass);


--
-- Name: cost_centers id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.cost_centers ALTER COLUMN id SET DEFAULT nextval('public.cost_centers_id_seq'::regclass);


--
-- Name: general_ledger_transactions id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions ALTER COLUMN id SET DEFAULT nextval('public.general_ledger_transactions_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.accounts (name, "accountNumber", "accountSubType", "accountType", "branchId", id, "isActive", "parentAccountId") FROM stdin;
\.


--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: cost_centers; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.cost_centers (name, "branchId", "createdAt", id) FROM stdin;
\.


--
-- Data for Name: general_ledger_transactions; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.general_ledger_transactions (description, debit, credit, "accountId", "branchId", "costCenterId", "customerId", "entryDate", id, "sourceModule", "sourceRecordId", "userId", "vehicleId") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.role_permissions ("permissionId", "roleId") FROM stdin;
7	2
8	2
1	1
2	1
3	1
4	1
5	1
6	1
7	1
8	1
9	1
10	1
11	1
10	3
5	3
6	3
3	3
4	3
1	3
2	3
9	3
10	4
5	4
1	4
2	4
9	4
10	6
9	6
10	5
5	5
9	5
1	7
5	7
6	7
9	7
10	7
1	8
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: user_permission_overrides; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.user_permission_overrides ("hasPermission", "permissionId", "userId") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.accounts_id_seq', 1, false);


--
-- Name: branches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.branches_id_seq', 12, true);


--
-- Name: cost_centers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.cost_centers_id_seq', 1, false);


--
-- Name: general_ledger_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.general_ledger_transactions_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.permissions_id_seq', 11, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.users_id_seq', 16, true);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: cost_centers cost_centers_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.cost_centers
    ADD CONSTRAINT cost_centers_pkey PRIMARY KEY (id);


--
-- Name: general_ledger_transactions general_ledger_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions
    ADD CONSTRAINT general_ledger_transactions_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY ("roleId", "permissionId");


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: user_permission_overrides user_permission_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.user_permission_overrides
    ADD CONSTRAINT user_permission_overrides_pkey PRIMARY KEY ("userId", "permissionId");


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: accounts_accountNumber_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "accounts_accountNumber_key" ON public.accounts USING btree ("accountNumber");


--
-- Name: branches_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX branches_name_key ON public.branches USING btree (name);


--
-- Name: cost_centers_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX cost_centers_name_key ON public.cost_centers USING btree (name);


--
-- Name: permissions_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX permissions_name_key ON public.permissions USING btree (name);


--
-- Name: roles_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX roles_name_key ON public.roles USING btree (name);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: accounts accounts_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "accounts_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: accounts accounts_parentAccountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "accounts_parentAccountId_fkey" FOREIGN KEY ("parentAccountId") REFERENCES public.accounts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cost_centers cost_centers_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.cost_centers
    ADD CONSTRAINT "cost_centers_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: general_ledger_transactions general_ledger_transactions_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions
    ADD CONSTRAINT "general_ledger_transactions_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public.accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: general_ledger_transactions general_ledger_transactions_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions
    ADD CONSTRAINT "general_ledger_transactions_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: general_ledger_transactions general_ledger_transactions_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions
    ADD CONSTRAINT "general_ledger_transactions_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public.cost_centers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: general_ledger_transactions general_ledger_transactions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.general_ledger_transactions
    ADD CONSTRAINT "general_ledger_transactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permission_overrides user_permission_overrides_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.user_permission_overrides
    ADD CONSTRAINT "user_permission_overrides_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permission_overrides user_permission_overrides_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.user_permission_overrides
    ADD CONSTRAINT "user_permission_overrides_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict CrrBGzBU3EWJc4alOhMh08QR04stVFItfNX7suxFRGdaFHEMoc8HGEwjvdaLSvO

